/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0em;
}

.cover {
  height:400px;
  background-image:url(https://cdn.glitch.com/5c346e8f-b78b-48b5-ac35-35c5873e8470%2Farlington-research-kN_kViDchA0-unsplash.jpg?v=1603337801004);
  color:white;
;
  background-size:cover;
  background-position:center;
  background-color:rgba(0,0,0,0.5);
  background-blend-mode: darken ;
  }

.card{
  
  border: 0!important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  
  }
  